@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --color-black: #000;
    --color-dark: #1d1d1d;
    --color-white: #ffffff;
    --color-primary: gold;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

h1, p {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-flow: column nowrap;
    gap: 6rem;
}

.casper-price {
    font-size: 7rem;
}


.button {
    font-size: 2.1rem;
    padding: 1.5rem 3rem;
    background: transparent;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    min-width: 20rem;
    width: calc(100% - 10rem);
    border: 1px solid white;
    transition: background 200ms ease, color 200ms ease;
}

.button:hover {
    background: white;
    color: var(--color-black);
}

@media only screen and (min-width: 568px) {
    .casper-price {
        font-size: 10rem;
    }

    .button {
        min-width: 21rem;
        width: initial;
    }
}